src/main/app/interaction-flows.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:jdbc-ee="http://www.mulesoft.org/schema/mule/ee/jdbc" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:core="http://www.mulesoft.org/schema/mule/core" version="EE-3.4.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/jdbc http://www.mulesoft.org/schema/mule/ee/jdbc/current/mule-jdbc-ee.xsd">
    <flow name="interaction.creation" doc:name="interaction.creation">
        <http:inbound-endpoint exchange-pattern="request-response" host="localhost" port="8081" doc:name="HTTP" path="interaction"/>
        <choice doc:name="Choice">
            <when expression="#[message.inboundProperties['http.method'] == 'POST']">
                <logger message="JSON received from post interaction is: #[payload]" level="INFO" doc:name="Logger"/>
                <message-properties-transformer scope="invocation" doc:name="Message Properties">
                    <add-message-property key="newsId" value="#[json:newsId]"/>
                    <add-message-property key="studioId" value="#[json:studioId]"/>
                    <add-message-property key="type" value="#[json:type]"/>
                </message-properties-transformer>
                <jdbc-ee:outbound-endpoint exchange-pattern="request-response"  queryTimeout="-1" doc:name="Database" queryKey="createInteraction" connector-ref="Database"/>
                <logger message="#[payload]" level="INFO" doc:name="Logger"/>
            </when>
            <when expression="#[message.inboundProperties['http.method'] == 'GET']">
                <http:body-to-parameter-map-transformer doc:name="Body to Parameter Map"/>
                <logger message="Message received: #[payload]" level="INFO" doc:name="Logger"/>
                <jdbc-ee:outbound-endpoint exchange-pattern="request-response"  queryTimeout="-1" doc:name="Database" queryKey="getInteraction" connector-ref="Database">
                	<jdbc-ee:query key="getInteraction" value="SELECT * from interactions"/>
                </jdbc-ee:outbound-endpoint>
            </when>
            <otherwise>
                <logger message="Payload is #[payload]" level="INFO" doc:name="Logger"/>
            </otherwise>
        </choice>
    </flow>
</mule>
