src/main/app/message-flows.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:jdbc-ee="http://www.mulesoft.org/schema/mule/ee/jdbc" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.4.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/ee/jdbc http://www.mulesoft.org/schema/mule/ee/jdbc/current/mule-jdbc-ee.xsd">
    <flow name="message-flowsFlow1" doc:name="message-flowsFlow1">
        <http:inbound-endpoint exchange-pattern="request-response" host="localhost" port="8081" doc:name="HTTP"/>
        <choice doc:name="Choice">
            <when expression="#[message.inboundProperties['http.method'] == 'GET']">
                <logger message="Got a GET message call" level="INFO" doc:name="GET Message branch"/>
                <choice doc:name="Choice">
                    <when expression="">
                        <jdbc-ee:outbound-endpoint exchange-pattern="request-response" queryKey="selectRecentNews" queryTimeout="-1" connector-ref="Database" doc:name="Select Recent News">
                            <jdbc-ee:query key="selectRecentNews" value="SELECT * FROM news WHERE createdAt &gt; #[message.inboundProperties['lastUpdate']]"/>
                        </jdbc-ee:outbound-endpoint>
                    </when>
                    <otherwise>
                        <jdbc-ee:outbound-endpoint exchange-pattern="request-response" queryKey="selectAllNews" queryTimeout="-1" connector-ref="Database" doc:name="Select All News">
                            <jdbc-ee:query key="selectAllNews" value="SELECT * FROM news"/>
                        </jdbc-ee:outbound-endpoint>
                    </otherwise>
                </choice>
            </when>
            <when expression="">
                <logger level="INFO" doc:name="POST Message branch"/>
            </when>
            <otherwise>
                <logger message="Invalid method!" level="INFO" doc:name="Invalid method"/>
            </otherwise>
        </choice>
    </flow>
</mule>
